<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git aggregator test</title>
    <script>
        var onSubmit = function(form) {
            var urls = document.getElementById('urls').value.split('\n');
            for (var url in urls) {
                var hidden = document.createElement('input');
                hidden.setAttribute('type', 'hidden');
                hidden.setAttribute('name', 'url')
                hidden.setAttribute('value', urls[url]);
                form.appendChild(hidden);
            }
        }
    </script>
</head>
<body>

<p>Enter one URL per line:</p>

{# I do not use Django forms, because this would be an over-abstraction. #}
<p>
    <textarea id="urls" style="width: 100%; height: 10ex"></textarea>
</p>

<form method="get" action="{% url 'health-check' %}"
      onsubmit="onSubmit(this)">
    <input type="submit">
</form>

</body>
</html>